<div class="control-group">
    <label for="Content_title" class="control-label">Title
        <span class="required">*</span>
    </label>
    <div class="controls">
        <input id="Content_title" type="text" name="title" class="m-wrap span6" ng-model="content.title">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Content</label>
    <div class="controls">
        <textarea id="content" name="content" ckeditor ng-model="content.content" class="span12 m-wrap" rows="6"></textarea>
    </div>
</div>