<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
             View Dealer Request
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a ng-href="#/home">Home</a>

                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a ng-href="#/dealer/request">Request From Dealer</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a ng-href="#/dealer/request/{{content.id}}">View Dealer Request</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->


<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <form id="form" class="form form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label for="Content_title" class="control-label">Title
                        </label>
                        <div class="controls">
                            <p class="help-inline">{{content.title}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="Content_title" class="control-label">Requested By
                        </label>
                        <div class="controls">
                            <p class="help-inline">{{content.name}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="Content_title" class="control-label">Email
                        </label>
                        <div class="controls">
                            <p class="help-inline">{{content.email}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="Content_title" class="control-label">Phone
                        </label>
                        <div class="controls">
                            <p class="help-inline">{{content.phone}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="Content_title" class="control-label">Company
                        </label>
                        <div class="controls">
                            <p class="help-inline">{{content.company_name}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="Content_title" class="control-label">Content
                        </label>
                        <div class="controls">
                            <p class="help-inline" ng-bind-html-unsafe="content.content"></p>
                        </div>
                    </div>
                    <div class="form-actions">
                        <a href="#/dealer/request" class="btn">Back</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
