<!-- **Breadcrumb** -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="breadcrumb">
            <a ng-href="#/"> Home </a>
            <span class="icon-chevron-right"> </span>

            <h1> About Us </h1>
        </div>
        <div class="main-phone-no">
            <p> +66-2-5700444 <br> <a href="mailto:info@tsolutions.co.th" title=""> info@tsolutions.co.th </a></p>
        </div>
    </div>
</section><!-- **Breadcrumb** -->

<div class="container">
    <section id="primary" class="content-full-width">
        <div class="border-title"> <h2> บริษัท ทีโซลูชั่นส์ จำกัด <span> </span> </h2> </div>
        <p>
            ก่อตั้งขึ้นเมื่อปี พ.ศ. 2547 โดยเริ่มจากเป็นบริษัทสาขาของ บริษัท ARTECH Technology design Co,ltd.
            เพื่อจัดจำหน่าย ผลิตภัณฑ์ภายใต้สินค้า ARTECH ในประเทศไทยอย่างเป็นทางการ
            โดยเป็นผลิดภัณฑ์ที่เกี่ยวเนื่องกับด้านการรักษาความปลอดภัยและการสื่อสาร (Security &amp; Communications) อาทิเช่น
            ผลิตภัณฑ์เครื่องบันทึกเสียง Voice Logger ผลิตภัณฑ์โทรศัพท์ผ่านอินเตอร์เน็ต VoIP Gateway (Voice over IP)
            และผลิตภณฑ์โทรศัพท์ผ่านมือถือ Mobile Gateway โดยผลิตภัณฑ์สามารถตอบสนองความต้องการ
            ด้านอุปกรณ์ยบันทึกเสียงและอุปกรณ์ประหยัดค่าโทรศัพท์ เพื่อประโยชน์สูงสุดแก่ลูกค้าและคู่ค้า ด้วยเหตุนี้
            จึงทำให้บริษัทเป็นที่รู้จักอย่างแพร่หลายในกลุ่มลูกค้า บริษัทหลักทรัพย์ ธนาคาร คอนเซ็นเตอร์ โรงพยาบาล และธุระกิจ
            SME ทั่วไป
        </p>
        <div class="commententries">
            <ul class="commentlist">
                <li>
                    <article class="comment">
                        <header class="comment-author">
                            <img data-src="holder.js/90x90/text:พ.ศ. 2551" alt="" title="">
                        </header>
                        <section class="comment-details">
                            <div class="comment-body">
                                <p>
                                    บริษัท ได้เพิ่มผลิตภัณฑ์ที่เกี่ยวกับความปลอดภัยและการสื่อสาร(Security &amp; Communication)
                                    คืออุปกรณ์เว็ปคอนเฟอร์เรนท์ nConferences เพื่อตอบโจทย์การสื่อสารทั้งภาพและเสียง 2 ทิศทาง
                                    สามารถประชุมพร้อมกันได้จำนวนมาก โดยใช้เพียงคอมพิวเตอร์ทั่วไปแทนการใช้ endpoint ที่มีราคาสูง
                                    โดยผลิตภัณฑ์นี้ทำให้เราสามารถขยายตลาดไปยังกลุ่มลูกค้า
                                </p>
                            </div>
                        </section>
                    </article>
                </li>
                <li>
                    <article class="comment">
                        <header class="comment-author">
                            <img data-src="holder.js/90x90/text:พ.ศ. 2553" alt="" title="">
                        </header>
                        <section class="comment-details">
                            <div class="comment-body">
                                <p>
                                    เพื่อเป็นการตอกย้ำ ในการเป็นผู้นำด้านการรักษาความปลอดภัยและการสื่อสาร(Security &amp;
                                    Communications) บริษัท จึงเพิ่มผลิตภัณฑ์กล้องวงจรปิดแบบความละเอียดสูงผ่านระบบเน็ตเวิร์ค
                                    โดยเราได้เริ่มการจัดจำหน่ายผลิตภัณฑ์กล้องวงจรปิดในตราสินค้า VIVOTEK
                                    ที่มีผลิตภัณฑ์ที่สามารถตอบโจทย์ทุกความต้องการของลูกค้าได้อย่างครบถ้วนโดยทาง VIVOTEK :
                                    BUILT WITH RELIABILITY มีการรับประกันผลิตภัณฑ์เป็นเวลานานถึง 3 ปี และอีกหนึ่งผลิตภัณฑ์
                                    คือระบบตู้เช่าสาขาอัจฉริยะสำหรับอพาร์ทเมนท์ คอนโด โรงแรม และโรงพยาบาล ในตราสินค้า
                                    TRANSTEL ที่สามารถตอบสนองความต้องการของลูกค้าได้เป็นอย่างดี
                                    โดยที่ตู้สาขานั้นให้เสถียรภาพและคุณภาพสูงสุด
                                    ซึ่งสามารถใช้งานร่วมกับโปรแกรมในการบริหารอพาร์ท และโรงแรมได้เป็นอย่างดี
                                </p>
                            </div>
                        </section>
                    </article>
                </li>
                <li>
                    <article class="comment">
                        <header class="comment-author">
                            <img data-src="holder.js/90x90/text:พ.ศ. 2554" alt="" title="">
                        </header>
                        <section class="comment-details">
                            <div class="comment-body">
                                <p>
                                    บริษัทได้เพื่มผลิตภัณฑ์ ในส่วนของโปรแกรมการจัดการภาพ(Vodeo Management Software) ในตราสินค้า
                                    Geovision เพื่อตอบสนองตวามต้องการของลูกค้่าที่ต้องการระบบวิเคราะห์ภาพอัจฉริยะ (Video Content
                                    Analytic) เพื่อเพิ่มความปลอดภัยให้กับระบบ IPCCTV โดยตัวโปรแกรมยังสามารถเชื่อมต่อกับระบบ Access
                                    Control, ระบบ Point of Sale และระบบ GPS เพื่อระบุตำแหน่งกล้องบน Google Map ได้
                                    โดยระบบสามาร๔นำไปแสดงผลผ่านระบบ Control Center จากส่วนกลางได้ทันที
                                </p>
                            </div>
                        </section>
                    </article>
                </li>
            </ul>
            <p>
                จากความพยายามในการคัดสรรพผลิตภณฑ์ที่มีคุณภาพในราคาที่เหมาะสมทั้งหมดเพื่อเป็นการตอกย้ำในการเป็นผู้นำด้านการรักษาความปลอดภัยและการสื่อสาร
                (Security &amp; Communications) โดยมุ่งมั่นพัฒนาการให้บริการที่ดีเยี่ยม
                ให้กับตัวแทนจำหน่ายและลูกค้าภายใต้คำขวัญที่ว่า
            </p>
            <span class="pullquote6 quotes aligncenter">Trustworthy Distributor</span>
        </div>
    </section>
</div>

<script>
    Holder.run();
</script>