
<!-- **Breadcrumb** -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="breadcrumb">
            <a ng-href="#/"> Home </a>
            <span class="icon-chevron-right"> </span>
            <h1> Error 500 Page </h1>
        </div>
        <div class="main-phone-no">
            <p> +66-2-5700444 <br> <a href="mailto:info@tsolution.co.th" title=""> info@tsolution.co.th </a> </p>
        </div>
    </div>
</section><!-- **Breadcrumb** -->

<!-- **Container** -->
<div class="container">

    <!-- **Primary Section** -->
    <section id="primary" class="content-full-width">

        <div class="error-info">
            <h2> <span class="error"> 500! </span> <span> OOPS, </span> Something went wrong. </h2>
            <h3> We are fixing it! Please come back in a while. </h3>
        </div>

    </section><!-- **Primary Section** -->

</div><!-- **Container - End** -->