<div class="control-group">
    <label for="Brand_name" class="control-label">Name
        <span class="required">*</span>
    </label>
    <div class="controls">
        <input id="Brand_name" type="text" name="name" class="m-wrap span6" ng-model="brand.name">
    </div>
</div>

<div class="control-group">
    <label for="User_name" class="control-label">Product Type
        <span class="required">*</span>
    </label>
    <div class="controls">
        <select name="type" id="Brand_type" class="m-wrap span6" ng-model="brand.type">
            <option value="">Plase Select</option>
            <option value="Security">Security</option>
            <option value="Communication">Communication</option>
        </select>
    </div>
</div>