<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Change Password
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/home">Home</a>

                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#/user/changepwd">Change Password</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <form id="form" class="form form-horizontal">
                <fieldset>
                    <div class="row-fluid">
                        <div class="control-group">
                            <label for="User_old_password" class="control-label">Old Password
                                <span class="required">*</span>
                            </label>
                            <div class="controls">
                                <input id="User_old_password" type="password" name="old_password" class="m-wrap span6" ng-model="account.old_password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="User_new_password" class="control-label">New Password
                                <span class="required">*</span>
                            </label>
                            <div class="controls">
                                <input id="User_new_password" type="password" name="new_password" class="m-wrap span6" ng-model="account.new_password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="User_confirm_password" class="control-label">Confirm New Password
                                <span class="required">*</span>
                            </label>
                            <div class="controls">
                                <input id="User_confirm_password" type="password" name="confirm_password" class="m-wrap span6" ng-model="account.confirm_password">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button ng-click="changepwd()" type="submit" class="btn blue"><i class="icon-ok"></i> Submit</button>
                    <a href="#/home" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
